.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 120px 10px 120px;
  background-color: #f4f4f4;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 25px;
  margin-right: -20px;
}
